@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: grey;
}
li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  justify-content: space-between;

  background-color: rgb(232, 232, 232);
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 150px;
}

.content .buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.header .left-links,
.header .right-links,
.footer .left-links,
.footer .right-links {
  display: flex;
  gap: 15px;
  margin-right: 25px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
